.box-tag {
  display: flex;
  column-gap: 10px;
}

.box-tag__item {
  background: #ff6060;
  color:white;
  padding:4px 32px;
}

@media (max-width: 568px ) {
  .box-tag {
    column-gap: 8px;
  }
  .box-tag__item {
    font-size: 0.56rem;
    padding: 4px 16px;
  }
}