.accordion-item{
    border:none;
    margin-bottom:31px;
    border-radius: 0;
}

.accordion-item .accordion-button {
    border-radius: 10px!important;
    box-shadow: none!important;
}

.accordion-button::after {
    display: none;
}

.accordion-button.collapsed .arrow-img {
    transition: 0.5s;
    transform: rotate(180deg);
}
.accordion-button .arrow-img {
    transform: scale(0.75);
    transition: 0.5s;
}
