html {
  font-size: 18px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

/*** Containers ***/
.l-container--md {
  height: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 100px;
  padding-left: 100px;
}

.l-container--sm {
  max-width: 1423px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 200px;
  padding-left: 200px;
}

/*** Layout ***/
.d--flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.justify--space-between {
  justify-content: space-between;
}

.justify--center {
  justify-content: center;
}

.justify--end {
  justify-content: end;
} 

.align-items--center {
  align-items: center;
}

.align-items--end {
  align-items: end;
}

/*** Margins ***/
.mt--md {
  margin-top: 40px;
}

.mb--sm {
  margin-bottom: 16px;
}

.mb--md {
  margin-bottom: 48px;
}

.mb--lg {
  margin-bottom: 64px;
}

.mr--xs {
  margin-right: 10px;
}

/*** Txt ***/
.title--xl {
  font-size: 2.67rem;
  font-weight: 500;
  margin: 0;
}

.title--lg {
  font-size: 2rem;
  font-weight: 500;
}

.title--md {
  font-size: 1.33rem;
  font-weight: 500;
  margin: 0;
}

.paragraph--lg {
  font-size: 1.33rem;
}

.suptitle {
  font-size: 0.78rem;
}

/*** Color Theme ***/
.text--white {
  color: #fff;
}

.text--primary {
  color: #FF6060;
}

/*** Border radius ***/
.br--sm {
  border-radius: 10px;
}

.br--md {
  border-radius: 25px;
}

/*** Sizing ***/
.w--100 {
  width: 100%;
}

/*** Anim arrow ***/
.arrow-img{
  transition: 0.5s;
  transform:scale(0.75);
}

.arrow-img--rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

/*** Dropdown design ***/
.description-area{
  text-align:center;
  margin-bottom:31px;
}

.dropdown__title{
  background-color: #ff6060;
  padding: 13px 20px 13px 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.dropdown__title:hover {
  cursor: pointer;
}

.dropdown__content {
  font-weight: 400;
  position: relative;
  z-index: -1;
  background-color:#f6f6f6;
  color:#ff6060;
  margin-top: -10px;
  padding: 30px 20px 40px 20px;
}
/*** Tablet / Phone Responsive ***/
@media (max-width: 768px) {

  .l-container--md {
    padding-left: 20px;
    padding-right: 20px;
  }

  .l-container--sm {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title--md {
    font-size: 0.67rem;
    text-transform: uppercase;
  }

  .logo {
    width: 125px;
  }
}

@media (max-width: 576px) {
  .title--xl {
    font-size: 1.33rem;
    font-weight: 500;
  }

  .title--lg {
    font-size: 1rem;
  }

  .paragraph--sm {
    font-size: 0.78rem;
  }

  .dropdown__content {
    font-size: 0.67rem;
  }
}
/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
