.host {
  align-items: flex-end;
}

.host__picture{
  width:64px;
  height:64px;
  border-radius: 100%;
}
.host__name{
  max-width: 5em;
  font-weight: 500;
}

@media (max-width: 991px) {
  .host {
    flex-direction: row-reverse;
    align-items: center;
  }

  .host__container {
    margin-bottom: 0px;
  }
}

@media (max-width: 576px) {
  .host__picture {
    width: 32px;
    height: 32px;
  }
  
  .host__name {
    font-size: 0.67rem;
  }

  .star-rating img {
    width: 18px;
    height: 18px;
  }
}
